.footer {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
    li {
        padding-bottom: 10px;
    }
    &__logo {
        width: 100px;
        padding-bottom: 10px;
        @include tablet {
            display: block;
            margin: auto;
            width: 150px;
            padding-bottom: 50px;
        }
        @include desktop {
            display: block;
            margin: auto;
            width: 150px;
            padding-bottom: 50px;
        }
    }
    .svg-footer-1 {
        font-size: 14px;
        padding-right: 10px;
    }
    .svg-footer-2 {
        font-size: 12px;
        padding-right: 7px;
    }
    &__content {
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-right: 100px;
        }
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-right: 100px;
        }
    }
}
